# Einführung in Julia: Kurstag 5
__Data Science, CSV, Dataframes, Download__

In [3]:
] activate .

  Activating project at `~/private/vhs-einfuehrung-julia-2023/kurstag-05`

In [2]:
using DataFrames, CSV, Plots

# Erstellen und Manipulieren eines Dataframes

In [4]:
personen = DataFrame([(name="Frank",nachname="Zimmer",alter=45, geschlecht="m")])

1×4 DataFrame
 Row │ name    nachname  alter  geschlecht
     │ String  String    Int64  String
─────┼─────────────────────────────────────
   1 │ Frank   Zimmer       45  m

mit dem folgenden Kommando kann man die Tabelle (Dataframe) erweitern:

In [5]:
push!(personen,(name="Karl",nachname="Schmidt",alter=37, geschlecht="m"))

2×4 DataFrame
 Row │ name    nachname  alter  geschlecht
     │ String  String    Int64  String
─────┼─────────────────────────────────────
   1 │ Frank   Zimmer       45  m
   2 │ Karl    Schmidt      37  m

möchte man es am Anfang einfügen, so nutzt man:

In [6]:
pushfirst!(personen,(name="Johanna",nachname="Müller",alter=28, geschlecht="w"))

3×4 DataFrame
 Row │ name     nachname  alter  geschlecht
     │ String   String    Int64  String
─────┼──────────────────────────────────────
   1 │ Johanna  Müller       28  w
   2 │ Frank    Zimmer       45  m
   3 │ Karl     Schmidt      37  m

In [7]:
pushfirst!(personen,(name="Thomas",nachname="Gulde",alter=44,geschlecht="m"))
pushfirst!(personen,(name="Nadin",nachname="Schäfer",alter=10,geschlecht="w"))

5×4 DataFrame
 Row │ name     nachname  alter  geschlecht
     │ String   String    Int64  String
─────┼──────────────────────────────────────
   1 │ Nadin    Schäfer      10  w
   2 │ Thomas   Gulde        44  m
   3 │ Johanna  Müller       28  w
   4 │ Frank    Zimmer       45  m
   5 │ Karl     Schmidt      37  m

Mit dem folgenden Kommando kann man eine Zeile extrahieren:

In [8]:
personen[1,:] #index der Zeile wird zur Extraktion genutzt

DataFrameRow
 Row │ name    nachname  alter  geschlecht
     │ String  String    Int64  String
─────┼─────────────────────────────────────
   1 │ Nadin   Schäfer      10  w

und damit auch aktualisieren

In [9]:
personen[1,:alter] = 35; # um die Spalte auszuwählen, kann man das Symbol (Spaltenname) :alter nutzen
personen

5×4 DataFrame
 Row │ name     nachname  alter  geschlecht
     │ String   String    Int64  String
─────┼──────────────────────────────────────
   1 │ Nadin    Schäfer      35  w
   2 │ Thomas   Gulde        44  m
   3 │ Johanna  Müller       28  w
   4 │ Frank    Zimmer       45  m
   5 │ Karl     Schmidt      37  m

mit dieser Notation kann man auch ganze Teile eines Dataframes extrahieren

In [11]:
personen_reduziert = personen[1:3,[:alter,:name]]

3×2 DataFrame
 Row │ alter  name
     │ Int64  String
─────┼────────────────
   1 │    35  Nadin
   2 │    44  Thomas
   3 │    28  Johanna

In [14]:
grouped = groupby(personen,:geschlecht)

GroupedDataFrame with 2 groups based on key: geschlecht
First Group (2 rows): geschlecht = "w"
 Row │ name     nachname  alter  geschlecht
     │ String   String    Int64  String
─────┼──────────────────────────────────────
   1 │ Nadin    Schäfer      35  w
   2 │ Johanna  Müller       28  w
⋮
Last Group (3 rows): geschlecht = "m"
 Row │ name    nachname  alter  geschlecht
     │ String  String    Int64  String
─────┼─────────────────────────────────────
   1 │ Thomas  Gulde        44  m
   2 │ Frank   Zimmer       45  m
   3 │ Karl    Schmidt      37  m

# Einlesen von Daten